createdAt: "2020-11-20T02:56:54.504Z"
updatedAt: "2020-11-20T12:23:06.936Z"
type: "MARKDOWN_NOTE"
folder: "e99b7e361c550eda843f"
title: "性能测试基础"
tags: [
  "Jmeter实战"
]
content: '''
  2020/11/20 下午2:12:21
  # 性能测试基础
  **性能调优技能**
  - 简历性能数据分析模型、收集相关资源和指标信息、分析数据背后的原因。
  - 性能测试难点：定位性能瓶颈
  - 性能优化是系统工程：软件产品（项目【系统架构、业务设计、代码实现、数据库物理设计及配置】）、中间件、虚拟机、操作系统、硬件
  
  **自动化/持续集成**
  - Jekins、Git、Maven等
  - 自动化代码集成、环境集成、自动测试执行、整理测试报告
  
  **流程**
  1、业务学习
  2、需求分析
  3、工作评估
  4、设计模型：
  -性能测试用例设计+实现方案。
  -用例关注业务，模型还需关注如何实现、可操作性、可验证性。
  -根据不同的目的组成不同的测试场景。
  5、计划编写
  6、脚本开发
  7、测试环境准备：被测服务器和压测负载机（用来安装负载工具、运行测试脚本）
  8、测试数据准备：根据数据模型准备主数据（保证业务运行通畅的基础，比如：菜单、用户数据）和业务数据（订单）
  9、测试执行
  10、缺陷管理
  11、性能分析
  12、性能调优
  13、测试报告
  **主要交付件**：包括测试计划、测试脚本、测试程序、（阶段）测试报告
  14、评审
  
  **性能测试难点**
  1、需求分析
  2、场景设计
  3、性能诊断与调优
  4、环境搭建和模拟
  
  **性能测试核心**
  核心是性能分析，重要的是思想，实现方式
  
  **Jmeter基本原理**
  建立一个线程池，多线程运行取样器，产生大量负载，通过断言验证结果，并通过监听器记录结果。
  
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
