createdAt: "2020-11-20T12:18:43.749Z"
updatedAt: "2020-11-20T12:22:45.347Z"
type: "MARKDOWN_NOTE"
folder: "e99b7e361c550eda843f"
title: "Jmeter体系结构"
tags: [
  "Jmeter实战"
]
content: '''
  2020/11/20 下午8:19:30
  # Jmeter体系结构
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
