createdAt: "2020-11-20T12:18:43.749Z"
updatedAt: "2020-11-23T08:06:04.180Z"
type: "MARKDOWN_NOTE"
folder: "e99b7e361c550eda843f"
title: "Jmeter体系结构"
tags: [
  "Jmeter实战"
]
content: '''
  2020/11/20 下午8:19:30
  # Jmeter体系结构
  **取样器**：没有界面的浏览器
  **前置处理器**：我们在请求发送前可能会做一些环境或者参数的准备工作，可以在此完成
  **配置元件**：可以做参数化
  **后置处理器**：一般放在取样器之后，处理服务器返回结果
  
  
  ## 运行逻辑 ##
  **1、取样器模拟用户请求；使用配置管理器做一些数据和环境的准备；使用后置处理器对响应数据做处理**
  **2、控制运行。使用线程组来设置运行场景，使用逻辑控制器控制业务**
  **3、收集结果。使用断言验证结果，监听器收集结果。**
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
